@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
:root {
    --main-bg: hsl(217, 54%, 11%);
    --container-bg: hsl(216, 50%, 16%);
    --text: #7f96b6;
}

body {
    background-color: var(--main-bg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    width: 300px;
    height: 500px;
    background-color: var(--container-bg);
    border-radius: 6%;
    box-shadow: 3px 6px 6px 12px #0c1729;
    padding: 30px;
    position: relative;
}

.main-img {
    width: 100%;
    border-radius: 6%;
    position: relative;
    z-index: 3;
}
.main-img:hover {
    opacity: 0.4;
    cursor: pointer;
}

.main-img-background {
    background-color: rgba(0, 255, 255, 0.61);
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}



p, .time-remaining {color: var(--text);}

.flexed-content {
    display: flex;
    justify-content: space-between;
}

.eth {
    color: cyan;
    font-weight: bold;
}

.creation {
    border-top: 2px solid #2f3c4d;
    padding: 10px;
    margin: 10px;
    color: var(--text);
}

.creation img {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {color: cyan;}

.attribution { 
    font-size: 11px;
    text-align: center; 
    margin-top: 20px;
    color: white;
}
.attribution a { color: hsl(228, 49%, 63%); }